.block{
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.addButton svg{
    width: 100px;
    cursor: pointer;
}
.addButton svg path{
    fill: #ffb907 !important;
}
.addButton{
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width: 450px) {
    .addButton svg{
        width: 50%;
    }
}