.Note{
    background-color: #f1d690;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    position: relative;
}
.NoteEditing{
    border: 8px dashed #af3434;
    width: 400px;
}
