/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crafty+Girls&family=Meow+Script&family=Notable&family=RocknRoll+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Pacifico&family=Rubik+Moonrocks&family=Rubik+Puddles&display=swap');
*,::before,::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html{
  font-size: 24px;
  background-color: #484748;
}
body{
  line-height: 1;
  max-height: 100%;
}
li{
  list-style: none;
}
a,a-visited{
  text-decoration: none;
  color: black;
}
a-hover{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: inherit;
  font-size: inherit;
}
img{
  vertical-align: top;
}
html, body, #root{
  height: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  /*flex-grow: 1;*/
}

[class$=__flexRowsContainer]{
  display: flex;
  flex-direction: row;
}
[class$=flexColumnContainer]{
  display: flex;
  flex-direction: column;
}

.App {
  width: 100%;
  /*margin: 0 auto;*/
  display: flex;
  gap: 20px;
  justify-content: left;
  padding-top: 10px;
  padding-left: 10px;
}
.column{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
@media (max-width: 450px) {
  .App {
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    gap: 20px;
    justify-content: left;
    padding-top: 10px;
    padding-left: 0px;
  }
}
