.noteList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    /*flex-grow: 1;*/
    /*justify-content: center;*/
    /*min-width: 40%;*/
}
.block{
    display: flex;
    justify-items: center;
    flex-grow: 1;
}